header{
    background-color: black;
    color: white;
    padding: 1.5em;
    margin-bottom:4%;
    margin-top: 2px;
}

body{
    background-color: #f9cb9c;
    text-align: center;
    font: normal italic;
}

footer {
 
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: black;
    color: white;
    margin-top:4%;
}
div#canciondescarga{
    padding-top: 10px;
    margin-left: 50%;
    width: 200px;
    background-color: white;
    height: 40px;
}
h1#Saldo{
    margin-right: 90%;
}
label#descargalb{
    font-size: 32px;
    float: left;
    margin-left: 40%;
}
img#logo{
    width: 200px;
    height: 200px;
    background-image: url("../img/E-Music.jpg");
    background-size: 100% 100%;
   
    margin-left: 70%;
}

img#imgalbum{
    width: 200px;
    height: 200px;
    background-image: url("../img/E-Music.png");
    background-size: 100% 100%;
    margin-right: 70%;
}
input#descargarbutton{
    margin-left:500px;
    margin-right: 30%;
    background-color: rgba(13, 192, 236, 0.781);
    padding: 20px;
}
h2{
    font-size: 50px;
}