header{
    background-color: black;
    color: white;
    padding: 1.5em;
    margin-bottom:4%;
    margin-top: 2px;
}

body{
    background-color: #f9cb9c;
    text-align: center;
    font: normal italic;
}

footer {
 
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background: black;
    color: white;
    margin-top:4%;
}
img#logo{
    width: 200px;
    height: 200px;
    background-image: url("../img/E-Music.jpg");
    background-size: 100% 100%;
   
    margin-left: 70%;
}
h2{
    
    font-size: 30px;
}
input#Cancelar{
    margin-top: 100px;
padding: 10px;
background-color: rgb(30, 131, 247);
}
input#Listas{
    margin-top: 100px;
padding: 10px;
background-color:rgb(30, 131, 247);
}
a#LigaLista{
  
    
    display: Orange;
    padding: 10px;
    background-color: rgba(0, 195, 255, 0.877);
    text-decoration: none;
    
}